.login-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#root {
    /*background: no-repeat center center url(https://s3-us-west-1.amazonaws.com/bobcat-courses-static/images/uc_merced_72_blurred.jpg);*/
    background: linear-gradient(#be6e80, #a2596b);
    position: relative;
    min-height: 100%;
    padding-top: 5px;
}