.register-form {
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 40px 40px 20px 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-form {
    max-width: 350px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 40px 40px 20px 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chat-container {
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    height: 100%;
}

.full-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-bar {
    margin: 5px;
}

.chat-sidebar {
    width: 150px;
    text-align: left;
    max-height: calc(100% - 55px);
    overflow-y: scroll;
    will-change: transform;
}

.chat {
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
}

.chat-sidebar-container {
    margin-right: 10px;
}

.empty-search {
    padding-top: 80px;
}

.gif-box {
    height: 200px;
    background-color: #e2fff8;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
}

.container {
    position: relative;
}

.container:hover .overlay {
    opacity: 1;
}

.message-img {
    border-radius: 10px;
}

.send-icon {
    cursor: pointer;
    color: rgb(154, 255, 163);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.chat-div {
    max-width: 900px;
    min-width: 600px;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 20px 40px 40px 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
}

.feed-div {
    max-width: 900px;
    min-width: 600px;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 20px 0 40px 0;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.group-list-item {
    font-size: 20px;
    margin-bottom: 10px;
}

.hover-icon:hover {
    cursor: pointer;
    color: #627280;
}

.groups-div {
    max-width: 900px;
    min-width: 600px;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 20px 0 40px 0;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.group-post-item-title {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-weight: bold;
}

.group-post-item-body {
    margin-top: 20px;
    text-align: left;
}

.group-post-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.group-post-user-time {
    display: flex;
    flex-direction: column;
}

.post-form {
    margin: 0 20px 20px 20px;
}

.group-post-item {
    border: 1px solid #c4c4c4;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
}

.feed-inside {
    overflow-y: scroll;
    height: calc(100% - 20px);
}

.feed-inside.group {
    height: calc(100% - 65px);
}

.feed-items {
    overflow-y: scroll;
}

.chat-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages-div {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    will-change: transform;
}

.login-container {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.chat-message-item {
    display: inline-block;
    line-height: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-list-div {
    margin-bottom: 10px;
    margin-right: 5px;
}

.chat-list-item {
    word-wrap: break-word;
}

/*.chat-user-and-message{*/
/*flex-direction: column;*/
/*display: flex;*/
/*margin-right: auto;*/
/*}*/

#root {
    /*background: no-repeat center center url(https://s3-us-west-1.amazonaws.com/bobcat-courses-static/images/uc_merced_72_blurred.jpg);*/
    background: linear-gradient(#be6e80, #a2596b);
    position: relative;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}